* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  margin: 0;
  background-color: #ffffff;
  font-family: 'Manrope', sans-serif;
} */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*--------HEADER hompege -----*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #ff6433;
  --clr-dark: #1e1b1b;
  --clr--light: #fff;
  --clr--purple: #661ce7;
  --clr--mint: #00d289;
  --clr--steelgrey: #e2e6e9;
  --clr--lightgrey: #f2f2f2;
  --fw-normal: 600;

  --fw-bold: 700;
  --fw-black: 900;
  --grid: minmax(1em, 15%) minmax(10rem, 22ch) minmax(10rem, 23ch)
    minmax(1em, 3fr) max-content;
  --gridmain: minmax(2ch, 10ch) 2fr 1fr min-content;
}

body {
  margin: 0;
  font-family: sans-serif, 'Times New Roman', Times, serif;
  font-size: 1.125rem;
  color: var(--clr-dark);
  line-height: 1.6;
  /* background-color: gray; */
}
/* h1,
h2,
h3 {
  line-height: 1;
} */
h1 {
  font-size: 64px;
  font-weight: 800;
}
h2 {
  font-size: 58px;
}
h3 {
  font-size: 48px;
}
h4 {
  font-size: 40px;
}
h5 {
  font-size: 32px;
}
p {
  margin-top: 0;
}
.btn {
  cursor: pointer;
  display: inline-block;
  line-height: 175%;
  font-size: 18px;
  font-weight: 600;
  padding: 0.8em 2em;
  letter-spacing: 1px;

  text-decoration: none;
  border-radius: 8px;
  width: 203px;
  height: 64px;
}
.btn + .btn {
  margin-left: 1em;
}

.btn--primary {
  background-color: var(--clr-primary);
  color: var(--clr--light);
}

.btn--primary:hover {
  background-color: var(--clr-dark);
}
/*    */

header {
  background-color: var(--clr--light);
  text-align: center;
}
.logo {
  margin-top: 1em;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 35rem;
  padding: 0;
  /* margin-top: 1rem; */
  padding: 1em;
  list-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: var(--fw-bold);
}

.nav__link {
  text-decoration: none;
  color: inherit;
}
.nav__list-item {
  margin-left: 1em;
  margin-right: 1em;
}
.nav__link:hover {
  color: var(--clr-primary);
}

.assistance {
  display: grid;
  grid-template-columns: min-content 1fr;
  background-color: var(--clr-dark);
  color: var(--clr--light);
  margin: 0.5em auto -1em;
  position: relative;
  z-index: 1;
}
.assistance__icon {
  grid-row: span 2;
  background-color: var(--clr-primary);
  padding: 0.5em;
  display: flex;
}

.assistance__info {
  margin: 0;
  margin-left: 0.75rem;
  text-align: left;
  opacity: 0.5;
  font-weight: var(--fw-normal);
  font-size: 0.75em;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.assistance__info span {
  color: var(--clr--light);
  margin-left: auto;
  font-size: 1rem;
  margin-right: 0.75rem;
}

.assistance__info:first-of-type {
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
  position: relative;
}

.assistance__info:last-of-type::after {
  content: '';
  position: absolute;
  background-color: var(--clr-primary);
  opacity: 0.25;
  height: 2px;
  width: calc(100%-0.75rem);
  bottom: -0.25em;
}

.assistance__info:last-of-type {
  margin-bottom: 0.5em;
}

/*    - - - -   main   - -  -*/
.main {
  padding: 3em 1em 10rem;
}
.main--homepage {
  display: grid;
  grid-template-columns: minmax(1em, 3fr) minmax(max-content, auto);
}
.main__title {
  line-height: 1;
  font-weight: var(--fw-black);
  font-size: 3rem;
  margin-bottom: 0.75em;
}
/*/ ---------------*/

.main__intro {
  margin-bottom: 1em;
  color: #939191;
  font-size: 16px;
  line-height: 24px;
}
.main__workinghours {
  display: flex;
  padding-top: 60px;
}
.main__intro-exact {
  font-weight: var(--fw-normal);
  font-size: 18px;
}
.imageback-logo {
  border: 2px solid red;
  width: 605px;
  height: 632px;
}

.clockicon {
  width: 30.94px;
  height: 30.94px;
  margin-right: 10px;
  margin-top: 15px;
}
@media (min-width: 700px) {
  .main {
    display: grid;
    grid-template-columns: var(--grid);
    justify-items: start;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .main > * {
    grid-column: 2 / 4;
  }
  .main__header-image {
    padding-left: 10rem;
    grid-column: 4 / 5;
  }

  .main--homepage {
    background-position: left bottom;
  }
}

@media (min-width: 1000px) {
  header {
    display: grid;
    grid-template-columns: var(--grid);
    align-items: center;
  }

  .logo,
  .nav,
  .assistance {
    grid-row: 1;
    margin: 0;
  }

  .logo {
    grid-column: 2;
  }

  .nav {
    grid-column: 2 / 5;
    justify-self: end;
    margin-right: 3em;
  }

  .assistance {
    grid-column: -2 / -1;
    justify-self: end;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .main--homepage {
    background-position: center right;
  }
}
