* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Manrope', sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} /* navigation */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container100 {
  width: 100%;
  margin: 0;
}
.logo {
  width: 122px;
  height: 32px;
  margin-left: 350px;
}

.linija {
  height: 40px;
  width: 1px;
  background-color: #d8d7d7;

  /* ---------  begin  ----*/
}
nav {
  width: 100%;
  height: 90px;
  display: flex;

  align-items: center;
}
/*  nav logo */

/*   nav link menu */
ul {
  position: relative;
  left: 33%;
  /* top: 0.4%;
  bottom: 99.25%; */
  display: flex;
  list-style-type: none;
  box-sizing: border-box;
}

/* off style li from u l li */
li {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  /* Black */

  color: #1e1b1b;
}

/*  anchor links navigation  */
a {
  color: #1e1b1b;
  text-decoration: none;
  padding: 18px;
  display: inline-block;
  white-space: nowrap;
}

a:hover {
  color: #000000;
  font-weight: 700;
}
/*   - font sizing colorizing anchor links  -   */
.body2 {
}
/*   - LINE - separator img -  */
.line {
  left: 57.19%;
  right: 25.62%;
  top: 5.89%;

  /* bottom: 99.69%; */
  /* height: 40px;
  width: 1px;
  background-color: #d8d7d7; */

  opacity: 0.26;
  margin: 9px;
  /* Grey */

  border: 1px solid #939191;
  transform: rotate(90deg);
}

/*    - div assitance  - */
.assistance {
  display: flex;
  align-items: center;
}

/*   - grenn bg for call icon   */
.call {
  /* position: absolute; */
  /* left: 60.59%;
  right: 24.06%;
  top: 4.59%;
  bottom: 99.15%; */

  justify-self: center;
}

/* -white icon on .call background */
.callIcon {
  position: absolute;
  /* left: 61.1%;
  right: 23.26%;
  top: 6%;
  bottom: 99.28%; */

  background-color: transparent;
}

/* text on <u></u> Road assistance */
u {
  left: 65.1%;
  right: 16.82%;
  top: 3.93%;
  bottom: 99.46%;

  /* Caption */

  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Black */

  color: #1e1b1b;

  opacity: 0.7;
}

/*  180026525452 call number-anchor may not fit by style */
.number {
  left: 63.97%;
  right: 16.72%;
  top: 3.54%;
  bottom: 99.05%;

  /* Body (01) */

  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  /* identical to box height, or 31px */

  /* Black */

  color: #1e1b1b;
}
/*--------HEADER hompege -----*/
header {
  display: flex;
  justify-content: space-between;

  align-items: center;

  /* max-width: 1200px; */
  margin: 0 auto;
  padding-top: 140px;
}

.container-header {
  /* width: 1300px; */

  height: 632px;

  top: 170px;

  width: 1300px;
}
.header-text {
  /* position: absolute;
  width: 624px;
  height: 252px;
  left: 6.1%;
  top: 52px; */
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* Heading (h1) */
h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
}
.home-header-clock-label {
  display: flex;
  align-items: center;
  gap: 15px;
}
.helper-wrapper {
  width: 30px;
  height: 30px;
}

.header-image {
  /* position: absolute;
  width: 655px;
  height: 632px;
  left: 59.1%;
  top: 30px; */
}
.serviceicon {
  width: 290px;
  height: 190px;

  left: 6.15%;
}
.imageBack {
  width: 605px;
  height: 632px;

  /* 
  left: 6.1%;
  top: 170px; */
}
.header-button {
  width: 150px;
  height: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px;
}
.button-text {
  position: static;

  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}
/* identical to box height, or 31px */
.primary {
  background: #ff6433;
  border-radius: 12px;
}
